@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}

#top{
    margin-left: 45%;
    font-family: 'Kanit', sans-serif;
    font-size: xx-large;
    margin-top: 2%;
    margin-bottom: 2%;
}

#parallel{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

#footer{
  background-color: black;
  margin-top: 5%;
}

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

#video{
  margin-left: 20%;
}